<html>
    <head>
        <title> Seth's Blawg </title>
    </head>

    <body>
    <div>
        <h1>Seth's Blog</h1>
        <p>Welcome</p>
    </div>

    <div>
        <h2><a href="">Blog Post 1</a></h2>
        <p>Blog Post 1 Content</p>
        <p>Date: Insert curerent date and time</p>
    </div>

    <div>
        <h2><a href="">Blog Post 2</a></h2>
        <p>Blog Post 2 Content</p>
        <p>Date: Insert curerent date and time</p>
    </div>

    <div>
        <h2><a href="">Blog Post 3</a></h2>
        <p>Blog Post 3 Content</p>
        <p>Date: Insert curerent date and time</p>
    </div>




    </body>

</html>